<h1>Eldest director</h1>


<% eldest_director = Director.where.not({ :dob => nil }).order({ :dob => :asc }).at(0) %>

<p>The eldest director in our dataset right now is <a href="/directors/<%= eldest_director.id %>"><%= eldest_director.name %></a>, born on <%= eldest_director.dob.strftime("%B%e, %Y") %>.</p>
