<h1>Youngest director</h1>


<% youngest_director = Director.where.not({ :dob => nil }).order({ :dob => :desc }).at(0) %>

<p>The youngest director in our dataset right now is <a href="/directors/<%= youngest_director.id %>"><%= youngest_director.name %></a>, born on <%= youngest_director.dob.strftime("%B%e, %Y") %>.</p>
